.container {
    border: 3px solid rgb(224, 224, 224);
    margin: 0 auto;
    width: 700px;
    height: 300px;
}
.blue {
    background-color: #17A2B8;
    height: 30%;
}
.circle {
    background-color: rgb(224, 224, 224);
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 50px;
    left: 30px;
}
#user {
    height: 90%;
}
#map, #gear {
    height: 20px;
}
p{
    position: relative;
    margin: 0;
    bottom: 60px;
    left: 40px;
}
.location{
    width: 190px;
    display: flex;
    align-items: center;
    position: relative;
    left:40px;
    bottom: 50px;
}
.edit{
    display: flex;
    align-items: center;
    position: relative;
    bottom: 50px;
    left: 40px;
}
h1{
    width: 200px;
    position: relative;
    bottom: 40px;
    left: 40px;
    margin: 0;
}
h3, a {
    margin-left: 5px;
}
img {
    margin-right: 0px;
}